<div id="navigation-bar">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MPM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" id="dashboardNav" href="../dashboard">Dashboard<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/users/newBuilding">Add Building</a>
          <a class="nav-item nav-link" href="/users/newClient">Add Client</a>
        </div>
      </div>
      <span class="navbar-text">
      <a href="/users/logout" class="btn btn-secondary"><i class="fas fa-sign-out-alt"></i></a>
    </span>
    </nav>
</div>
<br><br><br>
