<% include ./partials/header %>
<h1 class="mt-4">Close Job</h1>
<h4> Select the job to close</h4>
<form action="/users/closeJob" method="POST">
<% for (var i=0;i<jobs.length;i++) {%>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="closeJob" id="closeJob<%=i%>" value="<%=jobs[i]%>" checked>
            <label class="form-check-label" for="closeJob<%=i%>">
                <%=jobs[i]%>
            </label>
        </div>
    <%}%>
    <br>
    <button type="submit" class="btn btn-primary">
        Close Job
    </button>
</form>