<% include ./partials/header %>
<h1 class="mt-4">Dashboard</h1>
<% include ./partials/messages %>
<nav class="navbar navbar-light bg-light">
  <!-- selector -->
    <div class="dropdown show">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter By
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/users/filterPage?param=job">Select Job</a>
        <a class="dropdown-item" href="/users/filterPage?param=openJob">Open Jobs</a>
        <a class="dropdown-item" href="/users/filterPage?param=closedJob">Closed Jobs</a>
        <%if (package.role != 'journeyman') { %>
          <a class="dropdown-item" href="/users/filterPage?param=creator">Employee</a>
        <%}%>
      </div>
    </div>
  <!-- ^^ -->
</nav>
<% include ./partials/table %>
<% if (empty) { %>
  <h3> No Results </h3>
<%}%>