<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome, <%=firstName %></p>
<% include ./partials/messages %>
<ul class="list-group">
  <li class="list-group-item"><a href="/users/loadEntries"> View Entries</a></li>
  <li class="list-group-item"><a href="/users/newBuilding">Add Building</a></li>
  <li class="list-group-item"><a href="/users/newClient">Add Client</a></li>
  <li class="list-group-item"><a href="/users/newEntry">Add Entry</a></li>
</ul>
<br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
