<% include ./partials/header %>
<h1 class="mt-4">Dashboard</h1>
<% include ./partials/messages %>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Filter By</a>
  <form class="form-inline" method="POST">
    <a class="navbar-brand">
        <select class="form-control" id="filterBy" name="filterBy">
          <option>Show All</option>
          <% if (package.privilege != 'user' ) { %>
            <option>Employee</option>
          <%}%>
        </select>
    </a>
    <% if (package.privilege != 'user' ) { %>
      <a class="navbar-brand">
          <select class="form-control" id="filterValue" name="filterValue">
            <option>Select</option>
            <%allEmployees.forEach(function(item) { %>
              <option><%=item.firstName%> <%=item.lastName%></option>
            <% }) %>
          </select>
      </a>
    <%}%>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
  </form>
</nav>
<% include ./partials/table %>
<script type="text/javascript">
  <%allEmployees.forEach(function(item) { %>
    console.log('<%=item.firstName%>');
  <%})%>
</script>
