<% include ./partials/header %>
<h1 class="mt-4">Dashboard</h1>
<% include ./partials/messages %>
<nav class="navbar navbar-light bg-light">
  <!-- selector -->
    <div class="dropdown show">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter By
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/users/filterPage?param=room">Room</a>
        <a class="dropdown-item" href="/users/filterPage?param=job">Job</a>
        <%if (package.privilege != 'user') { %>
          <a class="dropdown-item" href="/users/filterPage?param=creator">Employee</a>
        <%}%>
      </div>
    </div>
  <!-- ^^ -->
</nav>
<% include ./partials/table %>

