<h1>New Building</h1>
<% include ./partials/messages %>
<form action="/users/newBuilding" method="POST">
  <div class="form-group">
    <label>Name</label>
    <input
      class="form-control"
      id="name"
      name="name"
      placeholder="Empire State"
      >
  </div>
  <div class="form-group">
    <label>Address</label>
    <input
      class="form-control"
      id="address"
      name="address"
      placeholder="1 Infinite Loop"
      >
  </div>
  <div class="form-group">
    <label>Client</label>
    <select
    class="form-control"
    id="client"
    name="client">
      <option selected>Habitat</option>
      <option>Seven Bridges</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Register Building
  </button>
</form>
<p>
  <a href="/dashboard">Return to Dashboard</a>
</p>
