<% include ../partials/header %>
<h1 class="mt-4">New Client</h1>
<% include ../partials/messages %>
<form action="/users/newClient" method="POST">
  <div class="form-group">
    <label>Name</label>
    <input
    class="form-control"
    id="name"
    name="name"
    placeholder="Smith Family Inc."
    value="<%= typeof name != 'undefined' ? name : '' %>"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Register Client
  </button>
</form>
