<% include ../partials/header %>
<h1 class="mt-4">New Job</h1>
<form action="" method="POST">
  <div class="form-group">
    <label>Job Name</label>
    <input
    class="form-control"
    id="jobName"
    name="jobName"
    placeholder="Job Name"
    value="<%= typeof name != 'undefined' ? name : '' %>"
    />
  </div>
  <div class="form-group">
    <label>Building</label>
    <select
    class="form-control"
    id="building"
    name="building">
    <%buildings.forEach(function(item) { %>
      <option value ="<%=item._id%>"><%=item.name%></option>
    <%})%>
    </select>
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Add Job
  </button>
</form>
